@mixin row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-box-column {
  width: 50%;
  height: 100%;
}
.table-box-column > div:first-child {
  @include row-flex;
  height: 60px;
  border-bottom: 2px solid #808080;
}
.table-box-column > div:first-child p {
  font-weight: bold;
  font-size: 21px;
  color: #451e3e;
}
.table-box-column > div:last-child {
  height: 440px;
  overflow: auto;
}
.table-box-column > div:last-child:hover {
  box-shadow: 1px 1px 2px black, 0 0 5px rgb(177, 177, 199),
    0 0 5px rgb(135, 135, 180);
}
.table > div > :last-child > div {
  border-left: 2px solid #808080;
}
li {

font-size: 20px;
color: rgb(67, 44, 94);
}
.input-drop {
  border: 2px solid rgb(83, 65, 65);
}
